SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key
APIFY_LINKEDIN_SCRAPER_URL=https://api.apify.com/v2/acts/apimaestro~linkedin-profile-full-sections-scraper/run-sync-get-dataset-items?token=your-apify-token
APIFY_LINKEDIN_JOB_URL=https://api.apify.com/v2/acts/ayk_6789~linkedin-job-details-scraper/run-sync-get-dataset-items?token=your-apify-token
GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL=gemini-2.5-flash
LATEX_COMPILER_URL=
LATEX_COMPILE_TIMEOUT_MS=30000
SAFEPAY_SECRET_KEY=d2a83a857045a1442a902cc60598e7d2ced3e6188f6f368c7a669e4a08f3a96b
SAFEPAY_PUBLIC_KEY=sec_c21fb015-23fd-4fb5-8bdc-ae8a47a4ef6d
SAFEPAY_ENVIRONMENT=sandbox
SAFEPAY_HOST=https://sandbox.api.getsafepay.com
SAFEPAY_CURRENCY=USD
SAFEPAY_PAYMENT_INTENT=CYBERSOURCE
SAFEPAY_ENTRY_MODE=raw
